<configuration>
 <services>
  <service>
   <class>PortMonitorService</class>
   <parameters>
    <name>Port Check</name>
    <port>22</port>
    <frequency>1</frequency>
    <interval>0.05</interval>
   </parameters>
  </service>
  <service>
   <class>WebMonitorService</class>
   <parameters>
    <name>Web Page Check</name>
    <link>http://www.stetson.edu</link>
    <frequency>2</frequency>
    <interval>0.03</interval>
   </parameters>
  </service>
 </services>
</configurateion>